name: CD

on:
  workflow_run:
    workflows: ["CI"]
    branches:
      - main
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Solo ejecutar si CI fue exitoso
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Dar permisos a Gradle
        run: chmod +x ./gradlew

      - name: Construir proyecto
        run: ./gradlew build

      - name: Publicar artefacto JAR
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: build/libs/*.jar
